<!--    
  파일명 : Introduce.html
  설 명 : 소개
	최초 생성일 :     

	수정일			수정내역 
	---------   -----------------------------------------------------------------
  21.12.17    최초개발
	
-->
<script src="/src/main/webapp/assert/js/Dashboard/Introduce.js" defer></script>

<div class="head">
  <i class="fab fa-microsoft"></i>
  <h3>Introduce</h3>
</div>

<div class="body">


  <div class="cards">


    <div class="card">
      <div class="order">
        <div class="quarter">
          <div class="alpha">A</div>
        </div>
      </div>
      <div class="title">데이터 준비</div>
      <div class="desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, sapiente dolore! Voluptatum dolor suscipit
        ut at, sed ipsam illum minus iste, porro inventore ipsa sunt vero officiis beatae ea aliquid!
      </div>
      <div class="detail">데이터 준비<br>상세 화면 영역</div>
    </div>


    <div class="card">
      <div class="order">
        <div class="quarter">
          <div class="alpha">B</div>
        </div>
      </div>
      <div class="title">시계열 준비</div>
      <div class="desc">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis pariatur, vero officia deleniti fugit, facilis
        minima nemo quo suscipit inventore animi officiis dolorum explicabo illo ab dolore. Repellat, sint eaque.
      </div>
      <div class="detail">시계열 준비<br>상세 화면 영역</div>
    </div>


    <div class="card">
      <div class="order">
        <div class="quarter">
          <div class="alpha">C</div>
        </div>
      </div>
      <div class="title">시계열 예측</div>
      <div class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore fugit facere assumenda voluptates dolore,
        molestiae, fuga error quaerat nobis iusto molestias suscipit facilis cum debitis eaque aliquid nesciunt?
        Repellat, reiciendis.
      </div>
      <div class="item">
        <div class="content">
          <i class="icon-box-multi path1"></i>
        </div>
        <div class="content">
          <i class="icon-box-one"></i>
        </div>
      </div>
      <div class="detail">시계열 예측<br>상세 화면 영역</div>
    </div>


    <div class="card">
      <div class="order">
        <div class="quarter">
          <div class="alpha">D</div>
        </div>
      </div>
      <div class="title">성능 분석</div>
      <div class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error fugit tempore repudiandae sint voluptate delectus
        enim sed, dolore illum assumenda id itaque sapiente, necessitatibus, praesentium et aperiam corporis asperiores
        consequatur.
      </div>
      <div class="item">
        <div class="content">
          <i class="icon-pulse"></i>
        </div>
        <div class="content">
          <i class="far fa-chart-bar"></i>
        </div>
      </div>
      <div class="detail">성능 분석<br>상세 화면 영역</div>
    </div>


    <label class="circle">
      <div class="company">
        <div class="korean">(주) 아리안</div>
        <div class="english">alian</div>
        <div class="address">www.alian.co.kr</div>
      </div>
      <div class="squars">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
    </label>


  </div>
  <!--// .cards -->


</div>
<!--// .body -->